<div class="relative py-4">
  <div class="container relative m-auto px-6 text-gray-500 md:px-12 xl:px-40">
    <div class="m-auto space-y-8 md:w-8/12 lg:w-6/12 xl:w-6/12">
      <div class="flex items-center">
        <%= image_tag "burogu.png", class: "ml-4 w-32", alt: "logo" %>
        <div>
          <p class="flex items-center justify-start font-rosarivo text-3xl text-black">
            Welcome to Burogu ~ ブルゴ
          </p>
          <p class="font-rosarivo text-gray-900">
            Innovating One Byte at a Time
          </p>
        </div>
      </div>
      <div class="rounded-3xl border border-gray-100 bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 backdrop-blur-2xl">
        <div class="p-4 py-8 sm:p-8">
          <h2 class="mb-4 text-xl font-bold text-gray-800 dark:text-white">Sign up new account</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="pb-3">
              <%= f.label :email, class: "text-gray-600 dark:text-gray-300 text-sm font-medium" %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-gray-300" %>
            </div>

            <div class="pb-3">
              <%= f.label :full_name, class: "text-gray-600 dark:text-gray-300 text-sm font-medium" %><br/>
              <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: "focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-gray-300" %>
            </div>

            <div class="pb-3">
              <%= f.label :password, class: "text-gray-600 dark:text-gray-300 text-sm font-medium" %>
              <% if @minimum_password_length %>
                <em class="text-gray-600 dark:text-gray-300 text-sm font-medium">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "new-password", class: "focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-gray-300" %>
            </div>

            <div class="pb-3">
              <%= f.label :password_confirmation, class: "text-gray-600 dark:text-gray-300 text-sm font-medium" %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-gray-300" %>
            </div>

            <div class="flex items-center justify-center">
              <button class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                <%= f.submit "Sign up" %>
              </button>
            </div>
          <% end %>
          <p class="border-t border-gray-100 dark:border-gray-700 pt-6 text-sm text-gray-500 dark:text-gray-400">
            Have an account ?
              <%= link_to "Sign in", new_user_session_path, class: "hover:text-blue-500" %><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<%= render "devise/shared/links" %>
