<% provide(:page_title, "Các tác giả") %>

<%= render "search_form" %>

<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <ul>
      <li><%= user.full_name %></li>
      <li><%= user.email %></li>
    </ul>
  <% end %>
<% end %>
<%== pagy_nav(@pagy) %>
