<% provide(:page_title, "Những bài viết của #{@user.full_name}") %>

<div class="flex flex-col items-center">
  <img src='<%= avatar_url(@user) %>' alt="avatar">
  <ul>
    <li><%= @user.full_name %></li>
    <li><%= @user.email %></li>
  </ul>
  <%= render "shared/follow_stats" %>
  <% if current_user %>
  <%= render "follow_form" %>
  <% end %>

  <div class="flex flex-col">
    <% if @posts.any? %>
      <%= render @posts %>
      <%== pagy_nav(@pagy) %>
    <% else %>
      <p>Không có bài viết nào</p>
    <% end %>
  </div>
</div>