<div class="flex flex-col my-4">
  <p id="post-<%= post.id %>">
  <h3 class="font-bold font-xl"><%= post.title %></h3>
  <%= strip_words post.content %>
  <%= link_to "Read More", post_path(post) %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <% if logged_in_user?(post.user) %>
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Delete", post , data: { "turbo-method": :delete,
                                         turbo_confirm: "You sure?" } %>
  <% end %>
</div>