<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:page_title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.turbo.min.js"></script>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.tiny.cloud/1/<%= ENV['rich_editor_key'] %>/tinymce/6/tinymce.min.js"
          referrerpolicy="origin">
  </script>
  <script>
      tinymce.init({
          selector: '.tinymce',
          height: 800,
          plugins: 'lists link image table code wordcount lists',
          menubar: false,
          toolbar: [
              {name: 'history', items: ['undo', 'redo']},
              {name: 'formatting', items: ['bold', 'italic']},
              {name: "header", items: ['h1', 'h2', 'h3']},
              {name: 'alignment', items: ['alignleft', 'aligncenter', 'alignright', 'alignjustify']},
              {name: 'list', items: ['numlist', 'bullist']},
              {name: 'tool', items: ['blockquote', 'image', 'link']}
          ]
      });
  </script>

  <%= favicon_link_tag asset_path('burogu.png') %>

</head>

<body>
<% if current_user %>
  <div class="flex flex-col min-h-screen">
    <%= render 'shared/header' if render_header? %>

    <div class="flex-grow mt-24 p-4">
      <% flash.each do |message_type, message| %>
        <%= render "shared/alert", message: message, type: message_type %>
      <% end %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' if render_header? %>
  </div>
<% else %>
  <%= yield %>
<% end %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</html>
